<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
                <key>CFBundleURLName</key>
                <string>org.peercastoxide.player</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>http</string>
                </array>
            </dict>
        </array>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
                <key>CFBundleTypeIconFile</key>
                <string></string>
                <key>CFBundleTypeName</key>
                <string>ImageType</string>
                <key>LSItemContentTypes</key>
                <array>
                    <string>public.m3u-playlist</string>
                </array>
            </dict>
            <dict/>
        </array>
    </dict>
</plist>
